body{
    margin:0;
    padding: 0;
    background-color:#367588;
    /* font-family: 'Noto Sans JP', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Slab', serif;
}

.subpage{
    width:750px;
    height:1250px;
    align-items: center;
    background-color: #f8f8ff;
    font-style: normal;
    color: white;
    margin-left:40px;
    padding-left:40px;
    padding-right:30px;
    align-items: left;
    line-height: 1.5;
    
}
.card{
    align-items: left;
    line-height: 1.5;
}
h1{
    color: black;
    text-shadow: 1px 1px 0#444;
    padding-top:40px;
    font-size:50px;
    font-style:bold;
    text-align: left;
    margin-bottom: 0%;
}
h4{
    margin-top:0.05em;
    color:black;
    text-align: left;
    line-height: 0.3cm;
}

a:link{
    color: black;
    text-align: left;
    margin-top: 0%;
   
}
a:hover{
    color:red;
    background-color: transparent;
    text-decoration: underline;
}
a:active{
    color:turquoise;
    background-color: transparent;
    text-decoration: underline;
}
.subpage .table ,thead{
    border: 1px solid black;
    color:black;
    text-align: left;
   

}

.subpage .table, th, td {
    border: 1px solid black;
    color:black;
    border-collapse: collapse;
 
  }
